@import './fonts/cinzel-font.css';
@import './fonts/ibm-plex-font.css';
@import './fonts/inter-font.css';
@import './fonts/noto-sans-font.css';
@import './fonts/roboto-font.css';
@import './fonts/source-sans-font.css';

* {
    font-family: 'Roboto', sans-serif;
}

.hover {
    cursor: pointer;
}

.v-form .v-field--disabled {
    opacity: 0.7 !important;
}

.v-form .v-switch .v-selection-control--disabled {
    opacity: 0.7 !important;
}

.v-list-item.disabled-opacity {
    opacity: 0.7 !important;
}


/* Default desktop styles */
.default-desktop-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    font-style: normal;
    margin-bottom: 16px;
}

.default-desktop-subtitle {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    margin-bottom: 8px;
}

.default-desktop-content {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
}

.default-desktop-subcontent {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

/* Default handy styles */
.default-handy-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 16px;
}

.default-handy-subtitle {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    margin-bottom: 8px;
}

.default-handy-content {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

.default-handy-subcontent {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
}

/* Default responsive styles */
.default-responsive-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 16px;
}

.default-responsive-subtitle {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    margin-bottom: 8px;
}

.default-responsive-content {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

.default-responsive-subcontent {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
}

@media (min-width: 600px) {
    .default-responsive-title {
        font-family: NotoSans, sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        font-style: normal;
        margin-bottom: 16px;
    }

    .default-responsive-subtitle {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        font-style: normal;
        margin-bottom: 8px;
    }

    .default-responsive-content {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        font-style: normal;
    }

    .default-responsive-subcontent {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        font-style: normal;
    }
}


/* Education desktop styles */
.education-desktop-title {
    font-family: NotoSans, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    font-style: normal;
    margin-bottom: 16px;
}

.education-desktop-subtitle {
    font-family: NotoSans, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    margin-bottom: 8px;
}

.education-desktop-content {
    font-family: NotoSans, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
}

.education-desktop-subcontent {
    font-family: NotoSans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

/* Education handy styles */
.education-handy-title {
    font-family: NotoSans, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 16px;
}

.education-handy-subtitle {
    font-family: NotoSans, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    margin-bottom: 8px;
}

.education-handy-content {
    font-family: NotoSans, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
}

.education-handy-subcontent {
    font-family: NotoSans, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
}

/* Education responsive styles */
.education-responsive-title {
    font-family: NotoSans, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 16px;
}

.education-responsive-subtitle {
    font-family: NotoSans, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    margin-bottom: 8px;
}

.education-responsive-content {
    font-family: NotoSans, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
}

.education-responsive-subcontent {
    font-family: NotoSans, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
}

@media (min-width: 600px) {
    .education-responsive-title {
        font-family: NotoSans, sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-style: normal;
        margin-bottom: 16px;
    }

    .education-responsive-subtitle {
        font-family: NotoSans, sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        font-style: normal;
        margin-bottom: 8px;
    }

    .education-responsive-content {
        font-family: NotoSans, sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        font-style: normal;
    }

    .education-responsive-subcontent {
        font-family: NotoSans, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        font-style: normal;
    }
}


/* Nobel desktop styles */
.nobel-desktop-title {
    font-family: Cinzel, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    font-style: normal;
    margin-bottom: 16px;
}

.nobel-desktop-subtitle {
    font-family: SourceSans, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    margin-bottom: 8px;
}

.nobel-desktop-content {
    font-family: SourceSans, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
}

.nobel-desktop-subcontent {
    font-family: SourceSans, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
}

/* Nobel handy styles */
.nobel-handy-title {
    font-family: Cinzel, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 16px;
}

.nobel-handy-subtitle {
    font-family: SourceSans, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    margin-bottom: 8px;
}

.nobel-handy-content {
    font-family: SourceSans, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
}

.nobel-handy-subcontent {
    font-family: SourceSans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

/* Nobel responsive styles */
.nobel-responsive-title {
    font-family: Cinzel, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 16px;
}

.nobel-responsive-subtitle {
    font-family: SourceSans, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    margin-bottom: 8px;
}

.nobel-responsive-content {
    font-family: SourceSans, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
}

.nobel-responsive-subcontent {
    font-family: SourceSans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

@media (min-width: 600px) {
    .nobel-responsive-title {
        font-family: Cinzel, sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-style: normal;
        margin-bottom: 16px;
    }

    .nobel-responsive-subtitle {
        font-family: SourceSans, sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        font-style: normal;
        margin-bottom: 8px;
    }

    .nobel-responsive-content {
        font-family: SourceSans, sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        font-style: normal;
    }

    .nobel-responsive-subcontent {
        font-family: SourceSans, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        font-style: normal;
    }
}


/* Manual desktop styles */
.manual-desktop-title {
    font-family: IbmPlex, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    font-style: normal;
    margin-bottom: 16px;
}

.manual-desktop-subtitle {
    font-family: IbmPlex, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    margin-bottom: 8px;
}

.manual-desktop-content {
    font-family: IbmPlex, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
}

.manual-desktop-subcontent {
    font-family: IbmPlex, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

/* Manual handy styles */
.manual-handy-title {
    font-family: IbmPlex, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    font-style: normal;
    margin-bottom: 16px;
}

.manual-handy-subtitle {
    font-family: IbmPlex, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    margin-bottom: 8px;
}

.manual-handy-content {
    font-family: IbmPlex, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
}

.manual-handy-subcontent {
    font-family: IbmPlex, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}